body{
  background-color: #f0f0f0;
}
.card-resume {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 25px 15px;
  margin-bottom: 20px;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.table-header{
  margin-bottom: 30px;
}
.fa-resume {
  font-size: 46px;
}
.bandwidth{
  background-color: #ffffff;
  border-radius: 4px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.bheader{
  background-color: #cdcdcd;
  margin-bottom: 20px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 10px;
}
.bw-progress{
  margin: 10px;
}
.bw-quota {
  margin-left: 10px;
}
